<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>624802997316-allelh0816ituk8g8dlqlctrqtk5199h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.624802997316-allelh0816ituk8g8dlqlctrqtk5199h</string>
	<key>API_KEY</key>
	<string>AIzaSyAbKvNMniIekvets_pYJEXa5ZN-01IiDWA</string>
	<key>GCM_SENDER_ID</key>
	<string>624802997316</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.lowjunkie.redditClone</string>
	<key>PROJECT_ID</key>
	<string>reddit-clone-190c7</string>
	<key>STORAGE_BUCKET</key>
	<string>reddit-clone-190c7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:624802997316:ios:d74dee677f4681ca128811</string>
</dict>
</plist>